<% unless skip_sidebar? || sections.blank? %>
  <div id="sidebar" class="sidebar">
    <% sections.each do |section| %>
      <div id="<%= section.id %>" class="<%= section.custom_class %>">
        <% if section.block %>
          <%= render "active_admin/base_page/sidebar_section_block", section: section %>
        <% else %>
          <%= render(section.partial_name) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
